.idea
node_modules
client/node_modules/*
*.iml
coverage
.DS_Store
npm-debug.log
documentation
sonar-project.properties
.nyc_output/
.build-tasksrc
dist
lib
static/js
static/public/sw.js
static/public/deere-service-worker.js
static/public/workbox-sw.*.js.map
static/translations
examples/app.js
debug.log
